# Ignore build output
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.idea/

# Ignore .NET-specific files
*.vs/
*.nupkg
*.snupkg

# Ignore Rider and ReSharper files
.idea/
*.sln.iml
*.sln.ide

# Ignore Visual Studio Code settings folder
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore any other IDE-specific settings
.vscode/